html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: gray;
  text-align: center;
  color: white;
}

/* h2 {
  text-align: left;
} */

.container {
  padding: 20px;
  text-align: center;
}

.employee-table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.employee-table td {
  border: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 35px;
}

.employee-table-head {
  background-color: lightgray;
}

.employee-table-foot {
  text-align: right;
}

.makeRed {
  background-color: red;
  color: white;
}
