html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(159, 223, 191);
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(32, 96, 64);
  text-align: center;
  color: white;
}

/* h2 {
  text-align: left;
} */

.container {
  padding: 20px;
  text-align: center;
}

.container-input {
  background-color: rgb(32, 96, 64);
  color: white;
  border-radius: 25px;
  margin: 10px 150px;
}

.submit-btn {
  margin: 10px;
}

.employee-table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.employee-table td {
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 35px;
}

.employee-table-head {
  color: white;
  background-color: rgb(51, 153, 102);
}

.employee-table-body {
  background-color: rgb(198, 236, 216);
}

.employee-table-foot {
  text-align: right;
  color: white;
  background-color: rgb(51, 153, 102);
}

.makeRed {
  background-color: red;
  color: white;
}

.employee-list:hover {
  background-color: rgb(51, 153, 102);
  color: white;
}
