html,
body {
  margin: 0;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: gray;
  text-align: center;
  color: white;
}

.container {
  padding: 20px;
  text-align: center;
}

.employee-table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.employee-table td {
  border: 1px solid gray;
  padding: 5px 20px;
}

.employee-table-head {
  background-color: lightgray;
}

.employee-table-foot {
  text-align: right;
}
